@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?sgn96m');
  src:  url('../fonts/icomoon.eot?sgn96m#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?sgn96m') format('truetype'),
    url('../fonts/icomoon.woff?sgn96m') format('woff'),
    url('../fonts/icomoon.svg?sgn96m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-azure:before {
  content: "\e909";
}
.icon-supabase:before {
  content: "\e90a";
}
.icon-tailwindcss:before {
  content: "\e905";
}
.icon-nextdotjs:before {
  content: "\e908";
}
.icon-amazonaws:before {
  content: "\e900";
}
.icon-fastapi-plain:before {
  content: "\e936";
}
.icon-opencv-plain:before {
  content: "\ea14";
}
.icon-bootstrap-plain:before {
  content: "\ea3e";
}
.icon-pytorch-original:before {
  content: "\ea47";
}
.icon-pandas-original:before {
  content: "\e903";
}
.icon-numpy-original:before {
  content: "\e93c";
}
.icon-circleci-plain:before {
  content: "\e9cd";
}
.icon-ocaml-plain:before {
  content: "\e991";
}
.icon-flask-original:before {
  content: "\e988";
}
.icon-firebase-plain:before {
  content: "\e98a";
}
.icon-bash-plain:before {
  content: "\e979";
}
.icon-c-plain:before {
  content: "\e639";
}
.icon-docker-plain:before {
  content: "\e61f";
}
.icon-react-original:before {
  content: "\e601";
}
.icon-css3-plain:before {
  content: "\e679";
}
.icon-git-plain:before {
  content: "\e7a8";
}
.icon-html5-plain:before {
  content: "\e7f7";
}
.icon-java-plain:before {
  content: "\e842";
}
.icon-javascript-plain:before {
  content: "\e845";
}
.icon-jquery-plain:before {
  content: "\e84a";
}
.icon-mongodb-plain:before {
  content: "\eb44";
}
.icon-mysql-plain:before {
  content: "\eb61";
}
.icon-postgresql-plain:before {
  content: "\eb7d";
}
.icon-python-plain:before {
  content: "\eb89";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-globe:before {
  content: "\e901";
}
.icon-code:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e904";
}
.icon-github:before {
  content: "\e906";
}
.icon-linkedin-square:before {
  content: "\e907";
}
