// https://flatuicolors.com/palette/defo
$blue:    #3498db;
$indigo:  #9b59b6;
$purple:  #8e44ad;
$pink:    #9b59b6;
$red:     #c0392b;
$orange:  #e67e22;
$yellow:  #f1c40f;
$green:   #2ecc71;
$teal:    #1abc9c;
$cyan:    #2980b9;

$primary:       #b8312f; //#c0392b  #BD5D38
$secondary:     #1f2c3c; //#2c3e50

// Page Variables

$sidebar-base-width: 17rem;
